@model PrepodPortal.Models.NewTeacherModel

@{
   ViewBag.Title = "Реєстрація нового викладача.";
}

@section scripts{
   @Styles.Render("~/Content/newTch.css")
}

@section head{
   <div id="head">
      <div id="logo">
      </div>
      <div id="right_side">
         <div id="search_wrap">
            <div id="search">
               <form id="search_form">
                  <input type="text" name="search" id="search_inp" placeholder="Пошук по сайту" /><button type="submit" id="search_sbm"></button>
               </form>
            </div>
         </div>
         <div id="all_prepods">
             <a href="/Home/PrepodsList/" class="button blue">Список викладачів</a>
             @if (User.IsInRole("admin") || User.IsInRole("profiles creator"))
             {
                 <a href="~/NewTeacher" class="button green">Додати викладача (+)</a>
             }
         </div>
      </div>
   </div>
}

@section body{

   @if (TempData["EmailSendError"] != null)
   {
      <div>@TempData["EmailSendError"]</div>
   }

   <div id="addTeacher">
      <h1>@ViewBag.Title</h1>
      <br />
      <h2>Надайте скорочені відомості про викладача.</h2>
      <div id="ttl_side_links"><a href="/">Моя сторінка</a></div>
   </div>
   @{if (Convert.ToBoolean(TempData["UserCreated"]) == true)
      {
         <input type="hidden" id="prepodPageLink" value="@TempData["UserId"]" />
         <script>
            $(document).ready(function () {
                if (confirm("викладач був успішно зареєстрований на еНауковаДекларація.\nЛист з даними для входу надіслано за вказаною адресою ел. пошти.\nБажаєте перейти на його сторінку?")) {
                  window.location.href = "/?id=" + $("#prepodPageLink").val();
               }
            });
         </script>
      }
   }
   <div id="addTch_form_wrap">
      @using (Html.BeginForm("Index", "NewTeacher", FormMethod.Post, new { role = "form" }))
      {
         @Html.AntiForgeryToken()

         @Html.ValidationSummary()
         <div class="addTch_form_block">
            @Html.LabelFor(model => model.Name)
            <br />
            @Html.EditorFor(model => model.Name, new { @id = "reg_name" })
         </div>

         <div class="addTch_form_block">
            @Html.LabelFor(model => model.Email)
            <br />
            @Html.EditorFor(model => model.Email, new { @id = "reg_email" })
         </div>

         <div class="addTch_form_block">
            <br />
            <button class="button green" style="font-size:14px" type="submit">Зареєструвати</button>
         </div>
      }
   </div>
}

@section footer
{
    <div id="copyright">
        © 2014 - @DateTime.Now.Year еНауковаДекларація
        <br />
        Сайт розроблений <a href="http://sadlogic.com">Sadlogic Inc.</a>, <a href="http://silv.pp.ua">Bogdan De George</a>
    </div>
   <div id="f_links">
      <a href="/About/">Про проєкт</a>
   </div>
}
