@model PrepodPortal.Models.Conference

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddConference", new AjaxOptions() { HttpMethod = "Post", LoadingElementId = "ajax_loader_conversations", UpdateTargetId = "convs_body", InsertionMode = InsertionMode.Replace }))
{
   @Html.ValidationSummary(true)
   @Html.AntiForgeryToken()

   <input type="hidden" name="UserId" value="@Model.UserId" />

   <div class="puSection first">
      @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
   </div>
   <div class="puSection">
      @Html.LabelFor(model => model.Organizer, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.EditorFor(model => model.Organizer, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Organizer, "", new { @class = "text-danger" })
   </div>
   <div class="puSection">
      @Html.LabelFor(model => model.HeldLocation, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.EditorFor(model => model.HeldLocation, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.HeldLocation, "", new { @class = "text-danger" })
   </div>
   <div class="puSection">
      @Html.LabelFor(model => model.HeldDate, "Дата проведення : ")
      @Html.EditorFor(model => model.HeldDate, new { htmlAttributes = new { @class = "jqDatePicker", @type = "text" } })
      @Html.ValidationMessageFor(model => model.HeldDate, "", new { @class = "text-danger" })
   </div>
   <div class="puSection">
      @Html.LabelFor(model => model.IsHeld, htmlAttributes: new { })
      @Html.EditorFor(model => model.IsHeld)
      @Html.ValidationMessageFor(model => model.IsHeld, "", new { @class = "text-danger" })
   </div>
   <div class="puSection last">
      <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
         Додати
      </button>
   </div>
}