@model PrepodPortal.Models.Publication

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddPublication", new AjaxOptions() { HttpMethod = "Post", LoadingElementId = "ajax_loader_publications", UpdateTargetId = "publs_body", InsertionMode = InsertionMode.Replace }))
{
   @Html.ValidationSummary(true)
   @Html.AntiForgeryToken()

   <input type="hidden" name="UserId" value="@Model.UserId" />
   <input type="hidden" name="Type" value="@Model.Type" />
   <input type="hidden" name="Monograph.Type" id="MonographType" value="" />

   <div class="puSection first">
      @Html.LabelFor(model => model.Monograph.AuthorNameList, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.ListBoxFor(m => m.Monograph.AuthorNameList,
    new MultiSelectList(C.GetPrepodNameList()),
    new { style = "height:auto; max-height:100px;" })
      <div>Затисніть Ctrl щоб обрати</div>
      @Html.ValidationMessageFor(model => model.Monograph.AuthorNameList, "", new { @class = "text-danger" })
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.Title, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.Title, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.Title, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.ISBN, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.ISBN, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.PublishedLocation, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.PublishedLocation, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.PublishedLocation, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.PublisherName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.PublisherName, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.PublisherName, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.PublishedYear, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.PublishedYear, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.PublishedYear, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.NumPagesTotal, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.NumPagesTotal, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.NumPagesTotal, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.NumPagesByAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.NumPagesByAuthor, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.NumPagesByAuthor, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.NumPrintedPagesTotal, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.NumPrintedPagesTotal, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.NumPrintedPagesTotal, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Monograph.NumPrintedPagesByAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Monograph.NumPrintedPagesByAuthor, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Monograph.NumPrintedPagesByAuthor, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection last">
      <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
         Додати
      </button>
   </div>
}