@model PrepodPortal.Models.DissertationDefens

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddDissertationDefens", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "changeScienceWrap", InsertionMode = InsertionMode.Replace }))
{
   @Html.ValidationSummary(true)
   @Html.AntiForgeryToken()

   <input type="hidden" name="UserId" value="@Model.UserId" />
   <input type="hidden" name="Type" id="DissertationDefenseType" value="" />

   <div class="puSection first">
      @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Theme, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.CipherAndSpecialty, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.CipherAndSpecialty, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.CipherAndSpecialty, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.ReceiveDiplomaDate, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.ReceiveDiplomaDate, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.ReceiveDiplomaDate, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.DefenseDate, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.DefenseDate, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.DefenseDate, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.DiplomaNumber, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.DiplomaNumber, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.DiplomaNumber, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.DefenseLocationAndWhoAssignedBy, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.DefenseLocationAndWhoAssignedBy, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.DefenseLocationAndWhoAssignedBy, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.ScientificDirector, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.ScientificDirector, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.ScientificDirector, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection last">
      <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
         Додати
      </button>
   </div>
}