@model PrepodPortal.Models.Publication

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddPublication", new AjaxOptions() { HttpMethod = "Post", LoadingElementId = "ajax_loader_publications", UpdateTargetId = "otherPublications_body", InsertionMode = InsertionMode.Replace }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <input type="hidden" name="UserId" value="@Model.UserId" />

    <div class="puSection first">
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
    </div>
    <div class="puSection">
        @Html.LabelFor(m => m.PublType)
        @Html.DropDownListFor(m => m.PublType, new SelectList(new string[] { "Монография", "Книга", "Пособие", "Методич. рекомендация" }))
    </div>
    <div class="puSection">
        @Html.LabelFor(m => m.AuthorsName)
        @Html.EditorFor(m => m.AuthorsName)
    </div>
    <div class="puSection">
        @Html.LabelFor(m => m.NumOfPages)
        @Html.EditorFor(m => m.NumOfPages)
    </div>
    <div class="puSection last">
        <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
            Додати
        </button>
    </div>
}