@model PrepodPortal.Models.Publication

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddPublication", new AjaxOptions() { HttpMethod = "Post", LoadingElementId = "ajax_loader_publications", UpdateTargetId = "publs_body", InsertionMode = InsertionMode.Replace }))
{
   @Html.ValidationSummary(true)
   @Html.AntiForgeryToken()

   <input type="hidden" name="UserId" value="@Model.UserId" />
   <input type="hidden" name="Type" value="@Model.Type" />
   <input type="hidden" name="SchoolBook.Type" id="SchoolBookType" value="" />
   <input type="hidden" name="SchoolBook.GryphType" id="SchoolBookMOHGryphType" value="" />

   <div class="puSection first">
      @Html.LabelFor(model => model.SchoolBook.AuthorNameList, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.ListBoxFor(m => m.SchoolBook.AuthorNameList,
    new MultiSelectList(C.GetPrepodNameList()),
    new { style = "height:auto; max-height:100px;" })
      <div>Затисніть Ctrl щоб обрати</div>
      @Html.ValidationMessageFor(model => model.SchoolBook.AuthorNameList, "", new { @class = "text-danger" })
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.Title, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.Title, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.Title, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.ISBN, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.ISBN, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.OrderNum, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.OrderNum, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.OrderNum, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.OrderDate, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.PublishedLocation, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.PublishedLocation, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.PublishedLocation, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.PublisherName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.PublisherName, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.PublisherName, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.PublishedYear, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.PublishedYear, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.PublishedYear, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.NumPagesTotal, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.NumPagesTotal, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.NumPagesTotal, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.NumPagesByAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.NumPagesByAuthor, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.NumPagesByAuthor, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.NumPrintedPagesTotal, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.NumPrintedPagesTotal, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.NumPrintedPagesTotal, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.SchoolBook.NumPrintedPagesByAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.SchoolBook.NumPrintedPagesByAuthor, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.SchoolBook.NumPrintedPagesByAuthor, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection last">
      <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
         Додати
      </button>
   </div>
}