@model PrepodPortal.Models.Education

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("AddEducation", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "changeEducationWrap", InsertionMode = InsertionMode.Replace }))
{
   @Html.ValidationSummary(true)
   @Html.AntiForgeryToken()

   <input type="hidden" name="UserId" value="@Model.UserId" />

   <div class="puSection First">
      @Html.LabelFor(model => model.Institution, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Institution, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Institution, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.StartYear, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.StartYear, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.EndYear, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.EndYear, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.EndYear, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.QualificationByDiploma, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.QualificationByDiploma, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.QualificationByDiploma, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection">
      @Html.LabelFor(model => model.Specialty, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="puSection last">
      <button class="button blue" title="Додати" type="submit" href="javascript:void(0)">
         Додати
      </button>
   </div>
}