@model IEnumerable<PrepodPortal.Models.AuthCertificate>

@{
    bool isAdmin = User.IsInRole("admin");
    //bool isMe = C.GetMyId(User) == Model.UserId;
}

@if (TempData["closeForm"] != null)
{
    <script>
        closeForm();
    </script>
}

@foreach (var authcert in Model)
{
    <div class="scienceBlock">
      @if (TempData["ForReports"] == null)
      {
        if (User.Identity.IsAuthenticated || isAdmin)
        {
           using (Ajax.BeginForm("DeleteAuthCertificate", new AjaxOptions() { HttpMethod = "Delete", LoadingElementId = "ajax_loader_authCertificates", UpdateTargetId = "authCertificates_body", InsertionMode = InsertionMode.Replace }))
           {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@authcert.Id" />
                <input type="submit" id="DeleteAuthCertificateSubmit_@authcert.Id" style="display:none" />
           }

            <div class="remove_scienceBlock" onclick="if(confirm('Ви дійсно бажаєте видалити обраний патент?')){$('#DeleteAuthCertificateSubmit_@authcert.Id').trigger('click')}"></div>
            <!--<div class="edit_scienceBlock" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Редактировать патент');$('.puWinCont').html($('.puCont#EditPatentCont_@authcert.Id').html());"></div>
                -->
            @*<!-- PU Edit Patent Content -->
                <div class="puCont" id="EditPatentCont_@row.Id">
                    <div class="puSection first">
                        <label for="patent_title">Название*</label>
                        <input type="text" onclick="$(this).removeClass('error')" value="@row.Title" name="patent_title_@row.Id" id="patent_title" tabindex="10" />
                    </div>
                    <div class="puSection">
                        <label for="patent_owner">ФИО Владельца*</label>
                        <input type="text" onclick="$(this).removeClass('error')" value="@row.Owner" name="patent_owner_@row.Id" id="patent_owner" tabindex="20" />
                    </div>
                    <div class="puSection">
                        <label for="patent_num">Номер патента</label>
                        <input type="text" name="patent_num_@row.Id" value="@row.Patent_Num" id="patent_num" tabindex="30" />
                    </div>
                    <div class="puSection">
                        <label>Дата оформления</label>
                        <select onclick="$(this).removeClass('error')" style="width: 100px" name="patent_create_day_@row.Id" id="patent_create_day" tabindex="40">
                            <option selected="1" value="">День</option>
                            @for (int i = 1; i < 32; i++)
                            {
                                <option @if (i == patent.GetPatentDate_part(1)) { <text> selected="1" </text>  } value="@i">@i</option>
                            }
                        </select>
                        <select onclick="$(this).removeClass('error')" style="width: 100px" id="patent_create_month" name="patent_create_month_@row.Id" tabindex="50">
                            <option selected="1" value="">Месяц</option>
                            @for (int i = 1; i < 13; i++)
                            {
                                if (i < 10)
                                {
                                    string val = "0" + i.ToString();
                                    <option @if (i == patent.GetPatentDate_part(2)) { <text> selected="1" </text> } value="@val">@Generic.getMonthTitle(i)</option>
                                }
                                else
                                {
                                    <option @if (i == patent.GetPatentDate_part(2)) { <text> selected="1" </text>  } value="@i">@Generic.getMonthTitle(i)</option>
                                }
                            }
                        </select>
                        <select onclick="$(this).removeClass('error')" style="width: 100px" name="patent_create_year_@row.Id" id="patent_create_year" tabindex="60">
                            <option selected="1" value="">Год</option>
                            @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 110; i--)
                            {
                                <option @if (i == patent.GetPatentDate_part(3)) { <text> selected="1" </text>  } value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="puSection last">
                        <a tabindex="70" class="button blue" title="Редагувати" href="javascript:void(0)" onclick="EditPatent(@userId,@row.Id,$('input[name=patent_title_@row.Id]').val(),$('input[name=patent_owner_@row.Id]').val(),$('input[name=patent_num_@row.Id]').val(),$('select[name=patent_create_day_@row.Id]').val(),$('select[name=patent_create_month_@row.Id').val(),$('select[name=patent_create_year_@row.Id]').val())">
                            Редагувати
                        </a>
                    </div>
                </div>
                <!---->*@
        }
      }
        <div class="scienceBlock_title">@authcert.WorkTitle</div>
        <div class="scienceBlock_mainInf">
           @if (TempData["ForReports"] != null)
           {
              <div><span>Викладач:</span> @Html.ActionLink(authcert.UserProfile.Name, "Index", new { id = authcert.UserProfile.UserId })</div>
           }
            <div class="patent_owner"><span>Тип наукової праці: </span>@authcert.WorkType</div>
            @if (authcert.Date.HasValue)
            {
                <div class="patent_date"><span>Дата отримання: </span>@authcert.Date.Value.ToShortDateString()</div>
            }
        </div>
    </div>
}

