@model PrepodPortal.Models.ChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", new { userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = "tempScriptsChP", HttpMethod = "Put" }))
{
   @Html.AntiForgeryToken()
   <div class="settingsItemTitle">Зміна пароля</div>
   @Html.ValidationSummary(false, "", new { @id = "ChPErrCont" })
   if (C.GetMyId(User) == Model.UserId)
   {
      <div class="settingsInput">@Html.LabelFor(m => m.CurrentPassword) @Html.EditorFor(m => m.CurrentPassword)</div>
   }
   <div class="settingsInput">@Html.LabelFor(m => m.NewPassword) @Html.EditorFor(m => m.NewPassword)</div>
   <div class="settingsInput">@Html.LabelFor(m => m.ConfirmNewPassword) @Html.EditorFor(m => m.ConfirmNewPassword)</div>
   <div class="settingsInput">
       <div style="opacity: 0" id="changePasswordAlert" class="successAlert">Зміни збережено</div>
      <button type="reset" id="ChPResetForm" hidden="hidden" />
      <button class="button blue" type="submit" onclick="$('#ChPErrCont').css('display', 'block');" style="font-size:small">Змінити</button>
      <div id="tempScriptsChP"></div>
   </div>
}