@model IEnumerable<PrepodPortal.Models.DissertationDefens>

@if (TempData["closeForm"] != null)
{
   <script>
      closeForm();
   </script>
}

@{
   bool isAdmin = User.IsInRole("admin");
   //bool isMe = C.GetMyId(User) == Model.FirstOrDefault;
}

@foreach (var dissertDefense in Model)
{
   <div class="scienceBlock">
      @{
         if (User.Identity.IsAuthenticated && C.GetMyId(User) == dissertDefense.UserId || isAdmin)
         {
            using (Ajax.BeginForm("DeleteDissertationDeffense", new AjaxOptions() { HttpMethod = "Delete", UpdateTargetId = "changeScienceWrap", InsertionMode = InsertionMode.Replace }))
            {
               @Html.AntiForgeryToken()
               <input type="hidden" name="Id" value="@dissertDefense.Id" />
               <input type="submit" id="DeleteDissertationDeffenseSubmit_@dissertDefense.Id" style="display:none" />
            }

            <div class="remove_scienceBlock" onclick="if(confirm('Ви дійсно хочете видалити обраний запис?')){$('#DeleteDissertationDeffenseSubmit_@dissertDefense.Id').trigger('click')}"></div>
         }
      }

      <div class="scienceBlock_title">
         @if (dissertDefense.Type == (int)Enums.DissertationDefensTypes.PHD)
         {
            <text>На здобуття наукового ступеня кандидата наук</text>
         }
         else if (dissertDefense.Type == (int)Enums.DissertationDefensTypes.PH_D)
         {
            <text>На здобуття наукового ступеня доктора наук</text>
         }
      </div>
      <div class="scienceBlock_mainInf">
         <div><span>@Html.DisplayNameFor(model => model.CipherAndSpecialty): </span>@Html.DisplayFor(model => dissertDefense.CipherAndSpecialty)</div>

         <div><span>@Html.DisplayNameFor(model => model.Theme): </span>@Html.DisplayFor(model => dissertDefense.Theme)</div>
         <div><span>@Html.DisplayNameFor(model => model.DiplomaNumber): </span>@Html.DisplayFor(model => dissertDefense.DiplomaNumber)</div>
         <div><span>@Html.DisplayNameFor(model => model.DefenseLocationAndWhoAssignedBy): </span>@Html.DisplayFor(model => dissertDefense.DefenseLocationAndWhoAssignedBy)</div>
         <div><span>@Html.DisplayNameFor(model => model.ScientificDirector): </span>@Html.DisplayFor(model => dissertDefense.ScientificDirector)</div>
         @if (dissertDefense.DefenseDate.HasValue)
         {<div><span>@Html.DisplayNameFor(model => model.DefenseDate): </span>@Html.DisplayFor(model => dissertDefense.DefenseDate)</div>}
         @if (dissertDefense.ReceiveDiplomaDate.HasValue)
         {<div><span>@Html.DisplayNameFor(model => model.ReceiveDiplomaDate): </span>@Html.DisplayFor(model => dissertDefense.ReceiveDiplomaDate)</div>}
      </div>
   </div>
         }
