@model PrepodPortal.Models.UserProfile

@{
   bool isAdmin = User.IsInRole("admin");
   bool isMe = C.GetMyId(User) == Model.UserId;
}

<div id="main_inf">
   <div id="main_inf_title">
      <h3 class="block_ttl">Основне</h3>
      @if (isMe || isAdmin)
      {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-1">Редагувати</a></div>
      }
   </div>
   @if (Model.Town.IsEmpty() && Model.HomeTown.IsEmpty() && Model.Gender.IsEmpty() && !Model.BirthDate.HasValue && Model.AcademicTitle.IsEmpty() && Model.ScienceDegree.IsEmpty() && !isMe && !isAdmin)
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      if (!isMe && !Model.HomeTown.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Місце народження:</div>
            <div class="labeled fl_l">
               @if (Model.HomeTown.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.HomeTown</text>}
            </div>
         </h4>
      }
      if (!isMe && !Model.Town.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Поточне місце проживання:</div>
            <div class="labeled fl_l">
               @if (Model.Town.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.Town</text>}
            </div>
         </h4>
      }
      if (!isMe && Model.BirthDate.HasValue || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Дата народження:</div>
            <div class="labeled fl_l">
               @if (!Model.BirthDate.HasValue)
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.BirthDate.Value.ToShortDateString()</text>}
            </div>
         </h4>
      }
      if (!isMe && !Model.Gender.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Стать:</div>
            <div class="labeled fl_l">
               @if (Model.Gender.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@C.getGender(Model.Gender)</text>}
            </div>
         </h4>
      }
      if (!isMe && !Model.AcademicTitle.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Учене звання:</div>
            <div class="labeled fl_l">
               @if (Model.AcademicTitle.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.AcademicTitle </text>}
            </div>
         </h4>
      }
      if (!isMe && !Model.ScienceDegree.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Науковий ступінь:</div>
            <div class="labeled fl_l">
               @if (Model.ScienceDegree.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.ScienceDegree </text>}
            </div>
         </h4>
      }
   }
</div>
<div id="career_inf">
   <div id="career_inf_title">
      <h3 class="block_ttl">Кар'єра</h3>
      @if (isMe || isAdmin)
      {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-2">Редагувати</a></div>
      }
   </div>
   @if (Model.WorkPlacePosition.IsEmpty() && Model.WorkPlaceMain.IsEmpty() && !isMe && !isAdmin)
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      if (!isMe && !Model.WorkPlaceMain.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Основне місце праці: </div>
            <div class="labeled fl_l">
               @if (Model.WorkPlaceMain.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.WorkPlaceMain</text>}
            </div>
         </h4>
      }
      if (!isMe && !Model.WorkPlacePosition.IsEmpty() || isMe || isAdmin)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Посада: </div>
            <div class="labeled fl_l">
               @if (Model.WorkPlacePosition.IsEmpty())
               {<text>Інформація відсутня</text>}
               else
               {<text>@Model.WorkPlacePosition</text>}
            </div>
         </h4>
      }
   }
</div>
<div id="edc_inf">
   <div id="edc_inf_title">
      <h3 class="block_ttl">Освіта</h3>
      @if (isMe || isAdmin)
      {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-3">Редагувати</a></div>
      }
   </div>
   @if (Model.Educations.Count == 0)
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      int counter = 0;
      foreach (PrepodPortal.Models.Education item in Model.Educations)
      {
         if (!isMe && !item.Institution.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Навчальний заклад: </div>
               <div class="labeled fl_l">
                  @if (item.Institution.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.Institution</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.StartYear.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Рік початку навчання: </div>
               <div class="labeled fl_l">
                  @if (item.StartYear.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.StartYear</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.EndYear.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Рік завершення навчання: </div>
               <div class="labeled fl_l">
                  @if (item.EndYear.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.EndYear</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.Specialty.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Спеціальність: </div>
               <div class="labeled fl_l">
                  @if (item.Specialty.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.Specialty</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.QualificationByDiploma.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Кваліфікація за дипломом: </div>
               <div class="labeled fl_l">
                  @if (item.QualificationByDiploma.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.QualificationByDiploma</text>}
               </div>
            </h4>
         }
         counter += 1;
         if (Model.Educations.Count > 1 && counter != Model.Educations.Count)
         {
            <div style="height:1px;border-bottom:1px dashed #999999;margin-top:8px"></div>
         }
      }
   }
</div>
<div id="academicDegreeGain_inf">
   <div id="academicDegreeGain_inf_title">
      <h3 class="block_ttl">Отримання ученого звання</h3>
      @if (isMe || isAdmin)
         {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-4">Редагувати</a></div>
      }
   </div>
   @if (Model.AcademicDegrees.Count == 0)
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      int counter = 0;
      foreach (PrepodPortal.Models.AcademicDegree item in Model.AcademicDegrees)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Отримання звання: </div>
            <div class="labeled fl_l">
               @if (item.Type == (int)Enums.AcademicDegreeGainTypes.Professor)
               {
                  <text>Професора</text>
               }
               else if (item.Type == (int)Enums.AcademicDegreeGainTypes.AssistantProfessor)
               {
                  <text>Доцента</text>
               }
         </h4>

         if (!isMe && !item.DiplomaNumber.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Номер диплома: </div>
               <div class="labeled fl_l">
                  @if (item.DiplomaNumber.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.DiplomaNumber</text>}
               </div>
            </h4>
         }

         if (!isMe && !item.ReceiveDiplomaDate.HasValue || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Дата отримання диплома: </div>
               <div class="labeled fl_l">
                  @if (item.ReceiveDiplomaDate.HasValue == false)
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.ReceiveDiplomaDate.Value.ToShortDateString() </text>}
               </div>
            </h4>
         }
         counter += 1;
         if (Model.AcademicDegrees.Count > 1 && counter != Model.AcademicDegrees.Count)
         {
            <div style="height:1px;border-bottom:1px dashed #999999;margin-top:8px"></div>
         }
      }
   }
</div>
<div id="dissertDefense_inf">
   <div id="dissertDefense_inf_title">
      <h3 class="block_ttl">Захист дисертацій</h3>
      @if (isMe || isAdmin)
      {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-5">Редагувати</a></div>
      }
   </div>
   @if (Model.DissertationDefenses.Count == 0)
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      int counter = 0;
      foreach (PrepodPortal.Models.DissertationDefens item in Model.DissertationDefenses)
      {
         <h4 class="clear_fix miniblock">
            <div class="label fl_l">Вид дисертації: </div>
            <div class="labeled fl_l">
               @if (item.Type == (int)Enums.DissertationDefensTypes.PHD)
               {
                  <text>Кандидатська</text>
               }
               else if (item.Type == (int)Enums.DissertationDefensTypes.PH_D)
               {
                  <text>Докторська</text>
               }
         </h4>
         if (!isMe && !item.CipherAndSpecialty.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Шифр і назва спец.: </div>
               <div class="labeled fl_l">
                  @if (item.CipherAndSpecialty.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.CipherAndSpecialty </text>}
               </div>
            </h4>
         }
         if (!isMe && !item.Theme.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Тема дисертації: </div>
               <div class="labeled fl_l">
                  @if (item.Theme.IsEmpty())
                  {<text>Інформація відсутня</text>}
                  else
                  {<text>@item.Theme</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.DiplomaNumber.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Номер диплома: </div>
               <div class="labeled fl_l">
                   @if (item.DiplomaNumber.IsEmpty())
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.DiplomaNumber</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.DefenseLocationAndWhoAssignedBy.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Де захищена/ким присвоєно: </div>
               <div class="labeled fl_l">
                   @if (item.DefenseLocationAndWhoAssignedBy.IsEmpty())
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.DefenseLocationAndWhoAssignedBy</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.ScientificDirector.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Науковий керівник: </div>
               <div class="labeled fl_l">
                   @if (item.ScientificDirector.IsEmpty())
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.ScientificDirector</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.DefenseDate.HasValue || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Дата захисту: </div>
               <div class="labeled fl_l">
                   @if (item.DefenseDate.HasValue == false)
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.DefenseDate.Value.ToShortDateString()</text>}
               </div>
            </h4>
         }
         if (!isMe && !item.ReceiveDiplomaDate.HasValue || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Дата отримання диплома: </div>
               <div class="labeled fl_l">
                   @if (item.ReceiveDiplomaDate.HasValue == false)
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.ReceiveDiplomaDate.Value.ToShortDateString()</text>}
               </div>
            </h4>
         }
         counter += 1;
         if (Model.DissertationDefenses.Count > 1 && counter != Model.DissertationDefenses.Count)
         {
            <div style="height:1px;border-bottom:1px dashed #999999;margin-top:8px"></div>
         }
      }
   }
</div>
<div id="subj_inf">
   <div id="subj_title">
      <div class="block_ttl">Викладацька діяльність</div>
      @if (isMe || isAdmin)
      {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-6">Редагувати</a></div>
      }
   </div>
   @if (Model.Subjects.IsEmpty())
   {
      <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      <h4 class="clear_fix miniblock">
         <div class="label fl_l">Дисципліни и к-сть годин: </div>
         <div class="labeled fl_l">
            @foreach (string subj in Model.Subjects.Split(','))
            {
               <div class="subj_ttl">@subj.Split('-')[0] - @subj.Split('-')[1]</div>
            }
         </div>
      </h4>
   }
</div>
<div id="scientometricDbProfiles_inf">
   <div id="scientometricDbProfiles_inf_title">
      <h3 class="block_ttl">Профілі в наукометричних базах</h3>
      @if (isMe || isAdmin)
         {
         <div class="edit fl_r"><a href="/Home/EditProfile/@Model.UserId#tabs-7">Редагувати</a></div>
      }
   </div>
   @if (Model.ScientometricDbProfiles.Count == 0)
   {
        <div class="no_inf">Інформація відсутня</div>
   }
   else
   {
      int counter = 0;
      foreach (PrepodPortal.Models.ScientometricDbProfile item in Model.ScientometricDbProfiles)
      {

         if (!isMe && !item.Name.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Назва бази: </div>
               <div class="labeled fl_l">
                   @if (item.Name.IsEmpty())
                   {<text>Інформація відсутня</text>}
               else
               {<text>@item.Name</text>}
               </div>
            </h4>
         }

         if (!isMe && !item.ProfileLink.IsEmpty() || isMe || isAdmin)
         {
            <h4 class="clear_fix miniblock">
               <div class="label fl_l">Покликання на профіль: </div>
               <div class="labeled fl_l">
                   @if (item.ProfileLink.IsEmpty())
                   {<text>Інформація відсутня</text>}
               else
               {<text><a href="http://@item.ProfileLink" target="_blank">@item.ProfileLink</a></text>}
               </div>
            </h4>
         }
         counter += 1;
         if (Model.ScientometricDbProfiles.Count > 1 && counter != Model.ScientometricDbProfiles.Count)
         {
            <div style="height:1px;border-bottom:1px dashed #999999;margin-top:8px"></div>
         }
      }
   }
</div>
