@model IEnumerable<PrepodPortal.Models.Patent>

@{
   bool isAdmin = User.IsInRole("admin");
   // bool isMe = C.GetMyId(User) == Model.UserId;
}

@if (TempData["closeForm"] != null)
{
   <script>
      closeForm();
   </script>
}

@foreach (var patent in Model)
{
   <div class="scienceBlock">
      @if (TempData["ForReports"] == null)
      {
         if (User.Identity.IsAuthenticated || isAdmin)
         {
            using (Ajax.BeginForm("DeletePatent", new AjaxOptions() { HttpMethod = "Delete", LoadingElementId = "ajax_loader_patents", UpdateTargetId = "patents_body", InsertionMode = InsertionMode.Replace }))
            {
               @Html.AntiForgeryToken()
               <input type="hidden" name="Id" value="@patent.Id" />
               <input type="submit" id="DeletePatentSubmit_@patent.Id" style="display:none" />
            }

            <div class="remove_scienceBlock" onclick="if(confirm('Ви дійсно хочете видалити обраний патент?')){$('#DeletePatentSubmit_@patent.Id').trigger('click')}"></div>
            <!-- <div class="edit_scienceBlock" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Редактировать патент');$('.puWinCont').html($('.puCont#EditPatentCont_@patent.Id').html());"></div>
               -->
            @*<!-- PU Edit Patent Content -->
               <div class="puCont" id="EditPatentCont_@row.Id">
                   <div class="puSection first">
                       <label for="patent_title">Название*</label>
                       <input type="text" onclick="$(this).removeClass('error')" value="@row.Title" name="patent_title_@row.Id" id="patent_title" tabindex="10" />
                   </div>
                   <div class="puSection">
                       <label for="patent_owner">ФИО Владельца*</label>
                       <input type="text" onclick="$(this).removeClass('error')" value="@row.Owner" name="patent_owner_@row.Id" id="patent_owner" tabindex="20" />
                   </div>
                   <div class="puSection">
                       <label for="patent_num">Номер патента</label>
                       <input type="text" name="patent_num_@row.Id" value="@row.Patent_Num" id="patent_num" tabindex="30" />
                   </div>
                   <div class="puSection">
                       <label>Дата оформлення</label>
                       <select onclick="$(this).removeClass('error')" style="width: 100px" name="patent_create_day_@row.Id" id="patent_create_day" tabindex="40">
                           <option selected="1" value="">День</option>
                           @for (int i = 1; i < 32; i++)
                           {
                               <option @if (i == patent.GetPatentDate_part(1)) { <text> selected="1" </text>  } value="@i">@i</option>
                           }
                       </select>
                       <select onclick="$(this).removeClass('error')" style="width: 100px" id="patent_create_month" name="patent_create_month_@row.Id" tabindex="50">
                           <option selected="1" value="">Місяць</option>
                           @for (int i = 1; i < 13; i++)
                           {
                               if (i < 10)
                               {
                                   string val = "0" + i.ToString();
                                   <option @if (i == patent.GetPatentDate_part(2)) { <text> selected="1" </text> } value="@val">@Generic.getMonthTitle(i)</option>
                               }
                               else
                               {
                                   <option @if (i == patent.GetPatentDate_part(2)) { <text> selected="1" </text>  } value="@i">@Generic.getMonthTitle(i)</option>
                               }
                           }
                       </select>
                       <select onclick="$(this).removeClass('error')" style="width: 100px" name="patent_create_year_@row.Id" id="patent_create_year" tabindex="60">
                           <option selected="1" value="">Рік</option>
                           @for (int i = DateTime.Now.Year; i > DateTime.Now.Year - 110; i--)
                           {
                               <option @if (i == patent.GetPatentDate_part(3)) { <text> selected="1" </text>  } value="@i">@i</option>
                           }
                       </select>
                   </div>
                   <div class="puSection last">
                       <a tabindex="70" class="button blue" title="Редагувати" href="javascript:void(0)" onclick="EditPatent(@userId,@row.Id,$('input[name=patent_title_@row.Id]').val(),$('input[name=patent_owner_@row.Id]').val(),$('input[name=patent_num_@row.Id]').val(),$('select[name=patent_create_day_@row.Id]').val(),$('select[name=patent_create_month_@row.Id').val(),$('select[name=patent_create_year_@row.Id]').val())">
                           Редагувати
                       </a>
                   </div>
               </div>
               <!---->*@
         }
      }
      <div class="scienceBlock_title">@patent.Title</div>
      <div class="scienceBlock_mainInf">
         @if (TempData["ForReports"] != null)
         {
            <div><span>Викладач:</span> @Html.ActionLink(patent.SecurityDocument.UserProfile.Name, "Index", new { id = patent.SecurityDocument.UserProfile.UserId })</div>
         }
         <div class="patent_owner"><span>Власник: </span>@patent.Owner</div>
         @if (patent.Number != null)
         {
            <div class="patent_num"><span>Номер патенту: </span>@patent.Number</div>
         }
         @if (patent.PublishDate.HasValue)
         {
            <div class="patent_date"><span>Дата оформлення: </span>@patent.PublishDate.Value.ToShortDateString()</div>
         }
      </div>
   </div>
}

