@model PrepodPortal.Models.ScienceReportFilters

@{
   bool isManager = User.IsInRole("admin") || User.IsInRole("superuser");
   bool isMe = C.GetMyId(User) == Model.UserId;
}

<style>
   #ajax_loader_reports {
      display: none;
   }
</style>

<script type="text/javascript">
   $(function () {
      $("#reportFilters_accordion").accordion({
         collapsible: true,
         heightStyle: "content"
      });
      $(".jqDatePicker").datepicker(
         {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
         });
      //jquery date picker
      var old_goToToday = $.datepicker._gotoToday
      $.datepicker._gotoToday = function (id) {
         old_goToToday.call(this, id)
         this._selectDate(id)
      }
   });
</script>


@using (Ajax.BeginForm("GenerateScienceReport", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "ReportBody", LoadingElementId = "ajax_loader_reports", InsertionMode = InsertionMode.Replace }))
{

   @Html.EditorFor(m => m.UserId, new { htmlAttributes = new { @type = "hidden" } })

   if (isManager && isMe)
   {
      <fieldset style="border:1px solid #999">
         <legend style="font-size:16px">Оберіть тип звіту</legend>
         <label for="radio-personal">Особистий</label>
         <input type="radio" checked="checked" name="ReportType" id="radio-personal" value="@Enums.ReportTypes.Personal">
         <label for="radio-global">Загальний</label>
         <input type="radio" name="ReportType" id="radio-global" value="@Enums.ReportTypes.Global">
      </fieldset>
      <br />
   }
   else
   {
      <input type="hidden" name="ReportType" value="@Enums.ReportTypes.Personal" />
   }
   <div id="reportFilters_accordion">

      <h3>Фільтри для Отримання Наукового Звання</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.AcademicDegreeGainFilters.AcademicDegreeGainFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="AcademicDegreeGainFilters.AcademicDegreeGainFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.AcademicDegreeGainFilters.AcademicDegreeGainToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="AcademicDegreeGainFilters.AcademicDegreeGainToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Захист Дисертацій</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.DissertationDefenseFilters.DissertationDefenseFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="DissertationDefenseFilters.DissertationDefenseFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.DissertationDefenseFilters.DissertationDefenseToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="DissertationDefenseFilters.DissertationDefenseToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Підвищення Кваліфікації</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.QualificationIncreaseFilters.QualificationIncreaseFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="QualificationIncreaseFilters.QualificationIncreaseFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.QualificationIncreaseFilters.QualificationIncreaseToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="QualificationIncreaseFilters.QualificationIncreaseToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>
      <h3>Фільтри для Статті</h3>
      <div>

         <div class="puSection first">
            @Html.LabelFor(model => model.ArticleFilters.ArticleType, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("ArticleFilters.ArticleType", EnumHelper.GetSelectList(typeof(Enums.ArticleTypes)), "Тип статті")
         </div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.ArticleFilters.ArticlesFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="ArticleFilters.ArticlesFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.ArticleFilters.ArticlesToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="ArticleFilters.ArticlesToDate" class="jqDatePicker" />
            </div>
         </div>
         <div class="puSection last">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.ArticleFilters.SNIPIndexFrom, htmlAttributes: new { @class = "control-label col-md-2" })
               @Html.EditorFor(model => model.ArticleFilters.SNIPIndexFrom, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.ArticleFilters.SNIPIndexTo, htmlAttributes: new { @class = "control-label col-md-2" })
               @Html.EditorFor(model => model.ArticleFilters.SNIPIndexTo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
         </div>
      </div>
      <h3>Фільтри для Монографії</h3>
      <div>

         <div class="puSection first">
            @Html.LabelFor(model => model.MonographFilters.MonographType, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("MonographFilters.MonographType", EnumHelper.GetSelectList(typeof(Enums.MonographTypes)), "Тип монографії")
         </div>
         <div class="puSection last">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.MonographFilters.MonographFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="MonographFilters.MonographFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.MonographFilters.MonographToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="MonographFilters.MonographToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Підручники</h3>
      <div>
         <div class="puSection first">
            @Html.LabelFor(model => model.SchoolBookFilters.SchoolBookType, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("SchoolBookFilters.SchoolBookType", EnumHelper.GetSelectList(typeof(Enums.SchoolBookTypes)), "Тип підручника")
         </div>
         <div class="puSection last">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.SchoolBookFilters.SchoolBookFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="SchoolBookFilters.SchoolBookFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.SchoolBookFilters.SchoolBookToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="SchoolBookFilters.SchoolBookToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Методич. рекомендації</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.GuidelineFilters.GuidelineFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="GuidelineFilters.GuidelineFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.GuidelineFilters.GuidelineToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="GuidelineFilters.GuidelineToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Посібники</h3>
      <div>
         <div class="puSection first">
            @Html.LabelFor(model => model.TutorialFilters.TutorialType, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("TutorialFilters.TutorialType", EnumHelper.GetSelectList(typeof(Enums.SchoolBookTypes)), "Тип посібника")
         </div>
         <div class="puSection last">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.TutorialFilters.TutorialFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="TutorialFilters.TutorialFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.TutorialFilters.TutorialToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="TutorialFilters.TutorialToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Тези доповідей</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.LectureThesFilters.LectureThesFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="LectureThesFilters.LectureThesFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.LectureThesFilters.LectureThesToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="LectureThesFilters.LectureThesToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Конференції</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.ConferenceFilters.ConferenceFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="Conference.ConferenceFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.ConferenceFilters.ConferenceToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="ConferenceFilters.ConferenceToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Патенти</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.PatentFilters.PatentFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="Patent.PatentFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.PatentFilters.PatentToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="PatentFilters.PatentToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      <h3>Фільтри для Док. на авторське право</h3>
      <div>
         <div class="puSection">
            <div style="display:inline-block;">
               @Html.LabelFor(model => model.CopyrightFilters.CopyrightFromDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="Copyright.CopyrightFromDate" class="jqDatePicker" />
            </div>
            <div style="display:inline-block">
               @Html.LabelFor(model => model.CopyrightFilters.CopyrightToDate, htmlAttributes: new { @class = "control-label col-md-2" })
               <input type="text" name="CopyrightFilters.CopyrightToDate" class="jqDatePicker" />
            </div>
         </div>
      </div>

      @*<ul>
            <li><a href="#filters-article" id="reportFilters_tab1" style="cursor: pointer !important" onclick="">Фільтри для статей</a></li>
            <li><a href="#filters-monograph" id="reportFilters_tab2" style="cursor: pointer !important" onclick="">Филь</a></li>
            <li><a href="#filters-schoolBook" id="reportFilters_tab3" style="cursor: pointer !important" onclick="">Охоронні документи</a></li>
         </ul>


         <div id="science-publications">
            <div class="scienceTab_header">
            </div>
         </div>*@
   </div>

   <br />
   <div>
      <button onclick="$('#reportFilters_accordion').accordion({ active: false });" class="button blue" title="Згенерувати звіт" type="submit" href="javascript:void(0)">
         Згенерувати звіт
      </button>
   </div>

}

<br />

<div style="height:10px;border-top:1px solid #999;"></div>

<div id="ajax_loader_reports" class="ajax_loader"></div>
<div id="ReportBody">

</div>
