@model PrepodPortal.Models.UserProfile

@{
   bool isAdmin = User.IsInRole("admin");
   bool isMe = C.GetMyId(User) == Model.UserId;

   if (isMe)
   {
      ViewBag.Title = "Редагування моєї сторінки";
   }
   else
   {
      ViewBag.Title = "Редагування сторінки викладача";
   }
}

@section scripts
        {
   <link type="text/css" rel="stylesheet" href="~/Content/manage.css" />
   <link rel="stylesheet" type="text/css" href="/Content/edit.css" />
   <script type="text/javascript">
      $(function () {
         $("#tabs").tabs();
         $(".jqDatePicker").datepicker();
      });
   </script>

   @Scripts.Render("~/bundles/jqueryval")
}

@section head
        {
   <div id="head">
      <div id="logo">
      </div>
      <div id="right_side">
         <div id="search_wrap">
            <div id="search">
               <form id="search_form">
                  <input type="text" name="search" id="search_inp" placeholder="Пошук по сайту" /><button type="submit" id="search_sbm"></button>
               </form>
            </div>
         </div>
         <div id="all_prepods">
            <a href="/Home/PrepodsList/" class="button blue">Список викладачів</a>
            @if (isAdmin || User.IsInRole("profiles creator"))
            {
               <a href="/NewTeacher/" class="button green">Додати викладача (+)</a>
            }
         </div>
      </div>
   </div>
}

@section body
{
   <!-- PopUp -->
   <div class="puWinBg">
      <div class="puWin">
         <div class="closepuWin">X</div>
         <div class="puWinTitle">

         </div>
         <div class="puWinCont">

         </div>
      </div>
   </div>
   <!-- -->

   <div id="edit_ttl">
      <h1>@ViewBag.Title</h1>
      @if (isAdmin && !isMe)
      {
         <br />
         <h2>@Model.Name</h2>
      }
      <div id="ttl_side_links">
         @if (isAdmin && !isMe)
         {@Html.ActionLink(Model.Name, "Index", new { id = Model.UserId }) }<a href="/">Моя сторінка</a>
      </div>
   </div>
   <div id="edit_wrap">
      <div id="tabs">
         <ul>
            <li><a href="#tabs-1">Осн.</a></li>
            <li><a href="#tabs-2">Кар'єра</a></li>
            <li><a href="#tabs-3">Освіта</a></li>
            <li><a href="#tabs-4">Наук. зван.</a></li>
            <li><a href="#tabs-5">Зах. дисер.</a></li>
            <li><a href="#tabs-6">Предмети</a></li>
            <li><a href="#tabs-7">Проф. в науком. базі</a></li>
         </ul>

         <div id="tabs-1">
            <div id="changeMainWrap" class="editItem first">
               @using (Ajax.BeginForm("EditMainInfo", new AjaxOptions() { HttpMethod = "Put", UpdateTargetId = "tempScriptsMain", InsertionMode = InsertionMode.Replace }))
               {
                  @Html.ValidationSummary()
                  @Html.AntiForgeryToken()
                  @Html.HiddenFor(model => model.UserId)
                  <div class="editInput">@Html.LabelFor(model => model.Name, "ПІБ : ") @Html.EditorFor(model => model.Name)</div>
                  <div class="editInput">@Html.LabelFor(model => model.HomeTown, "Місце народження : ") @Html.EditorFor(model => model.HomeTown)</div>
                  <div class="editInput">@Html.LabelFor(model => model.Town, "Поточне місце перебування : ") @Html.EditorFor(model => model.Town)</div>
                  <div class="editInput">
                     <label for="changeGender">Стать : </label>
                     <select class="changeGenderField" id="changeGender" name="Gender">
                        <option selected="1" value="">Оберіть стать</option>
                        <option @if (Model.Gender == "M") { <text> selected="1" </text>           } value="M">
                           Чоловіча
                        </option>
                        <option @if (Model.Gender == "F") { <text> selected="1" </text>           } value="F">
                           Жіноча
                        </option>
                     </select>
                  </div>
                  <div class="editInput">
                     @Html.LabelFor(model => model.BirthDate, "Дата народження : ")
                     @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "jqDatePicker", @type = "text" } })
                  </div>
                  <div class="editInput">
                     @Html.LabelFor(model => model.AcademicTitle, "Учене звання : ") @Html.EditorFor(model => model.AcademicTitle)
                  </div>
                  <div class="editInput">
                     @Html.LabelFor(model => model.AcademicTitle, "Науковий ступінь : ") @Html.EditorFor(model => model.ScienceDegree)
                  </div>
                  <div class="editInput @if(isMe){<text>last</text>}">
                     <div style="opacity: 0" id="changeMainAlert" class="successAlert">Зміни збережено</div>
                     <button class="button blue" style="font-size:small" type="submit">Зберегти</button>
                  </div>
                  <div id="tempScriptsMain"></div>
               }
            </div>
            @if (!isMe && isAdmin)
            {
               <div id="changePassWrap" class="settingsItem first">
                  @Html.Partial("_ChangePasswordPartial", new PrepodPortal.Models.ChangePasswordModel() { UserId = Model.UserId })
               </div>
               <div id="changeEmailWrap" class="settingsItem">
                  @Html.Partial("_ChangeEmailPartial", new PrepodPortal.Models.ChangeEmailModel() { CurrentEmail = C.GetAppUser(Model.UserId).UserName, UserId = Model.UserId })
               </div>
               <div id="changeUserPermissionsWrap" class="settingsItem">
                  @Html.Partial("_ChangeUserPermissionsPartial", new PrepodPortal.Models.ChangeUserPermissions { AllowAddUsers = C.UserManager.IsInRoleAsync(Model.UserId, "profiles creator").Result, UserId = Model.UserId })
               </div>
               <div id="deleteMyProfile">
                  @using (Html.BeginForm("DeleteProfile", "Home", new { id = Model.UserId }, FormMethod.Post, null))
                  {
                     @Html.AntiForgeryToken()
                     <input type="submit" id="SubmitDeleteProfile" hidden="hidden" />
                  }
                  Ви можете видалити цей обліковий запис <a href="javascript:void(0)" onclick="javascript:if(confirm('Підтверджуєте видалення цього облікового запису і всього з ним пов`язаного?') == true){ $('#SubmitDeleteProfile').trigger('click') }">тут</a>.
               </div>
            }
         </div>
         <div id="tabs-2">
            <div id="changeCareerWrap" class="editItem first">
               @using (Ajax.BeginForm("EditCareerInfo", new AjaxOptions() { HttpMethod = "Put", UpdateTargetId = "tempScriptsCareer", InsertionMode = InsertionMode.Replace }))
               {
                  @Html.ValidationSummary(false)
                  @Html.AntiForgeryToken()
                  @Html.HiddenFor(model => model.UserId)
                  <div class="editInput">@Html.LabelFor(model => model.WorkPlaceMain, "Основне місце роботи : ") @Html.EditorFor(model => model.WorkPlaceMain)</div>
                  <div class="editInput">@Html.LabelFor(model => model.WorkPlacePosition, "Посада : ") @Html.EditorFor(model => model.WorkPlacePosition)</div>
                  <div class="editInput last">
                     <div style="opacity: 0" id="changeCareerAlert" class="successAlert">Зміни збережено</div>
                     <button class="button blue" type="submit" style="font-size:small">Зберегти</button>
                  </div>
                  <div id="tempScriptsCareer"></div>
               }
            </div>
         </div>
         <div id="tabs-3">
            <div style="border-bottom:1px solid #ccc;padding-bottom:4px"><a href="javascript:void(0)" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Додати запис про освіту');$('.puWinCont').html($('.puCont#addEducationCont').html());" style="color:#3E7091;">Додати</a></div>
            <div id="changeEducationWrap" class="editItem first">
               <div id="changeEducationWrap" class="editItem first">
                  @Html.Partial("_EducationPartial", Model.Educations)
               </div>
            </div>
         </div>
         <div id="tabs-4">
            <div style="border-bottom:1px solid #ccc;padding-bottom:4px"><a href="javascript:void(0)" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Вид Ученого звання');$('.puWinCont').html($('.puCont#selectAcademicDegreeType').html());" style="color:#3E7091;">Додати</a></div>
            <div id="changeAcademicDegreeWrap" class="editItem first">
               @Html.Partial("_AcademicDegreePartial", Model.AcademicDegrees)
            </div>
         </div>
         <div id="tabs-5">
            <div style="border-bottom:1px solid #ccc;padding-bottom:4px"><a href="javascript:void(0)" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Вид Дисертації');$('.puWinCont').html($('.puCont#selectDissertationDefenseType').html());" style="color:#3E7091;">Додати</a></div>
            <div id="changeScienceWrap" class="editItem first">
               @Html.Partial("_DissertationDefensePartial", Model.DissertationDefenses)
            </div>
         </div>
         <div id="tabs-6">
            <div id="changeSubjectsWrap" class="editItem first">
               @using (Ajax.BeginForm("EditSubjectsInfo", new AjaxOptions() { HttpMethod = "Put", UpdateTargetId = "tempScriptsSubjects", InsertionMode = InsertionMode.Replace }))
               {
                  @Html.ValidationSummary(false)
                  @Html.AntiForgeryToken()
                  @Html.HiddenFor(model => model.UserId)
                  <table style="margin: auto" id="subjectsGrid">

                     <tbody>

                        <tr><th style="color: #555;font-size: 13px;font-weight: normal;text-align: left;">Предмет</th><th style="text-align:left;color: #555;font-size: 13px;font-weight: normal">К-сть годин</th></tr>

                        @{

                           if (string.IsNullOrEmpty(Model.Subjects) == false && Model.Subjects.Trim().Length > 0)
                           {
                              foreach (var subject in Model.Subjects.Split(','))
                              {
                                 <tr>
                                    <td><div class="editInput"><input name="subj[]" type="text" value="@subject.Split('-')[0]" /></div></td>
                                    <td>
                                       <div class="editInput">
                                          <select name="subjH[]" style="width: 100px">
                                             <option value=""></option>
                                             @for (int i = 1; i < 10; i++)
                                             {
                                                <option value="@i" @if (i.ToString() == subject.Split('-')[1].Trim().TrimEnd(new char[] { 'ч' })) { <text> selected="1" </text>            }>@i год.</option>
                                             }
                                          </select>
                                       </div>
                                    </td>
                                    <td style="vertical-align: top;padding-top: 6px;padding-left: 10px;">
                                       <a style="color: #3E7091;" href="javascript:" onclick="$(this).parent().parent().remove()">Видалити</a>
                                    </td>
                                 </tr>

                              }
                           }

                        }
                     </tbody>
                     <tfoot>
                        <tr>
                           <td><div class="editInput"><a style="color: #3E7091;" id="BtnAddMoreSubjects" href="javascript:" onclick="AddSubjectRow();">Додати предмет</a></div></td>
                        </tr>

                        <tr>

                           <td>

                              <div class="editInput last">
                                 <div style="opacity: 0" id="changeSubjectsAlert" class="successAlert">Зміни збережено</div>
                              </div>
                           </td>
                           <td>
                              <div class="editinput last">
                                 <button class="button blue" type="submit" style="font-size:small;margin-top:0">Зберегти</button>
                              </div>
                              <div id="tempScriptsSubjects"></div>
                           </td>
                        </tr>
                     </tfoot>
                  </table>
                           }
            </div>
         </div>
         <div id="tabs-7">
            <div style="border-bottom:1px solid #ccc;padding-bottom:4px"><a href="javascript:void(0)" onclick="$('.puWinBg').fadeIn('fast');$('.puWinTitle').html('Додати профіль в наукометрич. базі');$('.puWinCont').html($('.puCont#addScientometricDbProfileCont').html());" style="color:#3E7091;">Додати</a></div>
            <div id="changeScientometricDbProfileWrap" class="editItem first">
               @Html.Partial("_ScientometricDbProfilePartial", Model.ScientometricDbProfiles)
            </div>
         </div>
      </div>
   </div>

   <!--Add academic degree gain record dialog-->
   <div class="puCont" id="addAcademicDegreeCont">
      @Html.Partial("_AddAcademicDegreePartial", new PrepodPortal.Models.AcademicDegree { UserId = Model.UserId })
   </div>
   <div class="puCont" id="selectAcademicDegreeType">

      <div class="puSection first">
         @Html.DropDownList("selectListAcademicDegreeType", EnumHelper.GetSelectList(typeof(Enums.AcademicDegreeGainTypes)), "Вид ученого звання", new { @id = "selectListAcademicDegreeType" })
      </div>

      <div class="puSection last">
         <button class="button blue" title="Додати" type="button" href="javascript:void(0)" onclick="AcademicDegreeTypeSelected($('select[name=selectListAcademicDegreeType]').val())">
            Обрати
         </button>
      </div>

   </div>

   <!--Add Education record dialog-->
   <div class="puCont" id="addEducationCont">
      @Html.Partial("_AddEducationPartial", new PrepodPortal.Models.Education { UserId = Model.UserId })
   </div>

   <!--Add scientometric db profile dialog-->
   <div class="puCont" id="addScientometricDbProfileCont">
      @Html.Partial("_AddScientometricDbProfilePartial", new PrepodPortal.Models.ScientometricDbProfile { UserId = Model.UserId })
   </div>

   <!--Add dissertation defence dialog-->
   <div class="puCont" id="addDissertationDefenseCont">
      @Html.Partial("_AddDissertationDefensePartial", new PrepodPortal.Models.DissertationDefens { UserId = Model.UserId })
   </div>
   <div class="puCont" id="selectDissertationDefenseType">

      <div class="puSection first">
         @Html.DropDownList("selectListDissertationDefenseType", EnumHelper.GetSelectList(typeof(Enums.DissertationDefensTypes)), "Тип Дисертації", new { @id = "selectListDissertationDefenseType" })
      </div>

      <div class="puSection last">
         <button class="button blue" title="Додати" type="button" href="javascript:void(0)" onclick="DissertationDefenseTypeSelected($('select[name=selectListDissertationDefenseType]').val())">
            Обрати
         </button>
      </div>

   </div>

}
@section footer
        {
   <div id="copyright">
      © 2014 - @DateTime.Now.Year Prepod Network
      <br />
      Сайт розроблений <a href="http://sadlogic.com">Sadlogic Inc.</a>, <a href="http://silv.pp.ua">Bogdan De George</a>
   </div>
   <div id="f_links">
      <a href="/About/">Про проєкт</a>
   </div>
}