@model PrepodPortal.Models.UserProfile

@{
   ViewBag.Title = Model.Name;
   Random myRandom = new Random();
}

@section scripts{
   <link type="text/css" rel="stylesheet" href="~/Content/default.css" />
}

@section head{
   <div id="head">
      <div id="logo">
         <text>
            <script>window.location.href</script>
         </text>
      </div>
      <div id="right_side">
         <div id="search_wrap">
            <div id="search">
               <form id="search_form">
                  <input type="text" name="search" id="search_inp" placeholder="Пошук по сайту" /><button type="submit" id="search_sbm"></button>
               </form>
            </div>
         </div>
         <div id="all_prepods">
            <a href="@Url.Action("PrepodsList","Home")" class="button blue">Список викладачів</a>

            @if (User.IsInRole("admin") || User.IsInRole("profiles creator"))
            {
               <a href="/NewTeacher/" class="button green">Додати викладача (+)</a>
            }
            @if (User.Identity.IsAuthenticated == false)
            {
               <a href="/" class="button green">Авторизуватися</a>
            }
         </div>
      </div>
   </div>
}

@section body{

   @if ((string)TempData["AvatarImg_IncorrectSize"] == "flag")
   {
      <text>
         <script>
            alert('Максимальний розмір зображення 150кб.');
         </script>
      </text>
   }
   @if ((string)TempData["AvatarImg_Corrupted"] == "flag")
   {
      <text>
         <script>
            alert('Некоректне зображення./ nОберіть інше і спробуйте ще раз.');
         </script>
      </text>
   }

   <!-- PopUp -->
   <div class="puWinBg">
      <div class="puWin">
         <div class="closepuWin">X</div>
         <div class="puWinTitle">

         </div>
         <div class="puWinCont">

         </div>
      </div>
   </div>
   <!-- -->

   <script>$(function ($) { $('#RetrieveMainInfoSubmit').trigger('click'); });</script>
   <div id="prepod_profile">
      <div id="prepod_name">
         <h1>@Model.Name</h1>
         <!--<br/>
         @if(!Model.InstDone.IsEmpty())
         {
         <h2>@Model.InstDone</h2>
         }-->
         @if (C.GetMyId(User) != Model.UserId && User.Identity.IsAuthenticated)
         {
            <div id="ttl_side_links"><a href="/">Моя сторінка</a></div>
         }
      </div>
      <div id="left_col">
         <div id="avatarImgWrap" onmouseover="showAvatarItems()" onmouseout="hideAvatarItems()">
            <a href="@Model.AvatarImg" class="flipLightBox 1" style="cursor: -moz-zoom-in">
               <img src="@Model.AvatarImg?rnd=@myRandom.Next(1,1000)" id="avatarImg" alt="userAvatar" />
            </a>
            @if (C.GetMyId(User) == Model.UserId || User.IsInRole("admin"))
            {

               using (Html.BeginForm("ChangeAvatar", "Home", FormMethod.Post, htmlAttributes: new { id = "uploadAvatarForm", enctype = "multipart/form-data" }))
               {
                  @Html.AntiForgeryToken()
                  <input type="file" accept="image/jpeg,image/png" name="avatarImageFile" id="avatarImageFile" title="Upload the image" alt="Upload the image" onchange="document.getElementById('uploadAvatarForm').submit();" />
                  <input type="hidden" value="@Model.UserId " name="UserId" />
               }
               using (Html.BeginForm("DeleteAvatar", "Home", FormMethod.Post, htmlAttributes: new { id = "deleteAvatarForm" }))
               {
                  @Html.AntiForgeryToken()
                  <input type="hidden" value="@Model.UserId " name="UserId" />
               }
               using (Html.BeginForm("LogOff", "Home", FormMethod.Post, htmlAttributes: new { id = "logout_form" }))
               {
                  @Html.AntiForgeryToken()
               }

               <div id="uploadAvatar" onclick="uploadAvatar()">
               </div>
               if (Model.AvatarImg != "/Images/no-avatar.png")
               {
                  <div id="deleteAvatar" onclick="deleteAvatar()">
                     x
                  </div>
               }
            }
         </div>
         <div id="prof_sections">
            @using (Ajax.BeginForm("RetrieveMainInfo", new AjaxOptions() { HttpMethod = "Get", LoadingElementId = "ajax_loader_main", UpdateTargetId = "right_col", InsertionMode = InsertionMode.Replace }))
            {
               <input type="hidden" name="UserId" value="@Model.UserId" />
               <input type="submit" id="RetrieveMainInfoSubmit" style="display:none" />
            }
            @using (Ajax.BeginForm("RetrieveScienceWorkInfo", new AjaxOptions() { HttpMethod = "Get", LoadingElementId = "ajax_loader_main", UpdateTargetId = "right_col", InsertionMode = InsertionMode.Replace }))
            {
               <input type="hidden" name="UserId" value="@Model.UserId" />
               <input type="submit" id="RetrieveScienceWorkInfoSubmit" style="display:none" />
            }
            @using (Ajax.BeginForm("RetrieveReportsInfo", new AjaxOptions() { HttpMethod = "Get", LoadingElementId = "ajax_loader_main", UpdateTargetId = "right_col", InsertionMode = InsertionMode.Replace }))
            {
               <input type="hidden" name="UserId" value="@Model.UserId" />
               <input type="submit" id="RetrieveReportsInfoSubmit" style="display:none" />
            }

            @using (Ajax.BeginForm("RetrieveProjectsInfo", new AjaxOptions() { HttpMethod = "Get", LoadingElementId = "ajax_loader_main", UpdateTargetId = "right_col", InsertionMode = InsertionMode.Replace }))
            {
               <input type="hidden" name="UserId" value="@Model.UserId" />
               <input type="submit" id="RetrieveProjectsInfoSubmit" style="display:none" />
            }

            <a onclick="$('#RetrieveMainInfoSubmit').trigger('click'); $(this).addClass('active'); $('#showScience').removeClass('active');$('#showProjects').removeClass('active'); $('#showReports').removeClass('active');" class="active" href="javascript:" id="showMain">Основна інформація</a>
            <a onclick="$('#RetrieveScienceWorkInfoSubmit').trigger('click'); $(this).addClass('active'); $('#showMain').removeClass('active');$('#showProjects').removeClass('active'); $('#showReports').removeClass('active'); $('#FilterIncreaseQualInfoSubmit').trigger('click');" href="javascript:" id="showScience">Наукова діяльність</a>
            @if (C.GetMyId(User) == Model.UserId || User.IsInRole("admin") || User.IsInRole("superuser"))
            {
               <a style="border-top:none !important" onclick="$('#RetrieveReportsInfoSubmit').trigger('click'); $(this).addClass('active');$('#showProjects').removeClass('active'); $('#showMain').removeClass('active');$('#showScience').removeClass('active') " href="javascript:" id="showReports">Наукові звіти</a>
            }

            <a style="border-top:none !important" onclick="$('#RetrieveProjectsInfoSubmit').trigger('click'); $(this).addClass('active');$('#showReports').removeClass('active'); $('#showMain').removeClass('active');$('#showScience').removeClass('active') " href="javascript:" id="showProjects">Проєкти</a>
         </div>
         @if (User.Identity.IsAuthenticated)
   {
      if (C.GetMyId(User) == Model.UserId || User.IsInRole("admin"))
      {
               <div id="manage_links">
                  @if (C.GetMyId(User) == Model.UserId)
                  {
                     <a href="/">Моя сторінка</a>
                     <a href="/Home/Manage/">Налаштування</a>
                  }
                  @if (User.IsInRole("admin") || C.GetMyId(User) == Model.UserId)
                  {
                     @Html.ActionLink("Редагувати", "EditProfile", new { id = Model.UserId })
                  }
                  @if (C.GetMyId(User) == Model.UserId)
                  {
                     <a href="javascript:document.getElementById('logout_form').submit()">Вийти</a>
                  }
               </div>
            }
         }
      </div>
      <div id="right_col_wrap">
         <div id="ajax_loader_main" class="ajax_loader"></div>
         <div id="right_col">
         </div>
      </div>
   </div>

   <script type="text/javascript" src="/Scripts/fliplightbox.min.js"></script>
   <script type="text/javascript">
      $('body').flipLightBox
         ({
            lightbox_border_width: 1,
            lightbox_flip_speed: 400,
            lightbox_border_color: 'white',
            lightbox_text_style: 'font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.4; color: #333333; text-align: center;',
            lightbox_text_area_position: 'top',
            back_image_text: '&lsaquo;&lsaquo; Prev',
            next_and_back_image_text_style: 'font-weight: bold; color: #0078CA; font-size: 16px; text-decoration: none;'
         });
   </script>
}

@section footer{
   <div id="copyright">
      © 2014 - @DateTime.Now.Year Prepod Network
      <br />
      Сайт розроблений <a href="http://sadlogic.com">Sadlogic Inc.</a>, <a href="http://silv.pp.ua">Bogdan De George</a>
   </div>
   <div id="f_links">
      <a href="/About/">Про проєкт</a>
   </div>
}
