@model PrepodPortal.Models.UserProfile

@{
   ViewBag.Title = "Особистий кабінет.";
   bool isAdmin = User.IsInRole("admin");
}

@section scripts
   {
   <link type="text/css" rel="stylesheet" href="~/Content/manage.css" />
   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryval")
}

@section head
   {
   <div id="head">
      <div id="logo">
      </div>
      <div id="right_side">
         <div id="search_wrap">
            <div id="search">
               <form id="search_form">
                  <input type="text" name="search" id="search_inp" placeholder="Пошук по сайту" /><button type="submit" id="search_sbm"></button>
               </form>
            </div>
         </div>
         <div id="all_prepods">
            <a href="/allTeachers/" class="button blue">Список викладачів</a>
            @if (isAdmin || User.IsInRole("profiles creator"))
            {
               <a href="/NewTeacher/" class="button green">Додати викладача (+)</a>
            }
         </div>
      </div>
   </div>
}

@section body
   {
   <div id="manage_ttl">
      <h1>@ViewBag.Title</h1>
      <div id="ttl_side_links"><a href="/">Моя сторінка</a></div>
   </div>
   <div id="manage_wrap">
      <div id="changePassWrap" class="settingsItem first">
         @Html.Partial("_ChangePasswordPartial", new PrepodPortal.Models.ChangePasswordModel() { UserId = C.GetMyId(User) })
      </div>
      <div id="changeEmailWrap" class="settingsItem">
         @Html.Partial("_ChangeEmailPartial", new PrepodPortal.Models.ChangeEmailModel() { CurrentEmail = C.GetAppUser(Model.UserId).UserName, UserId = C.GetMyId(User) })
      </div>

      <div id="deleteMyProfile">
         @using (Html.BeginForm("DeleteProfile", "Home", new { id = Model.UserId }, FormMethod.Post, null))
         {
            @Html.AntiForgeryToken()
            <input type="submit" id="SubmitDeleteProfile" hidden="hidden" />
         }
         Ви можете видалити ваш обліковий запис <a href="javascript:void(0)" onclick="javascript:if(confirm('Підтверджуєте видалення вашого облікового запису і всього з ним пов`язаного?') == true){ $('#SubmitDeleteProfile').trigger('click') }">тут</a>.
      </div>
   </div>
}

@section footer
   {
   <div id="copyright">
      © 2014 - @DateTime.Now.Year Prepod Network
      <br />
      Сайт розроблений <a href="http://sadlogic.com">Sadlogic Inc.</a>, <a href="http://silv.pp.ua">Bogdan De George</a>
   </div>
   <div id="f_links">
      <a href="/About/">Про проєкт</a>
   </div>
}
